/* This is New Css Created */
.hero-unit-moon-exploration {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: unset !important;
}

.hero-unit-moon-exploration .space_sec,
.hero-unit-moon-exploration .luna_sec {
    width: 50%;
    height: 100%;
    position: relative;
}


.hero-unit-moon-exploration .space_sec .hero-image {
    background-image: url(../images/final-frontier_large_2x.jpg) !important;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.hero-unit-moon-exploration .hero-image {
    background-image: url(../images/luna_large_2x.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.timeline .cards-row>div {
    margin: 15px 0;
}

.timeline-item {
    height: 100%;
    justify-content: unset;
}



/* gallery Css Start */
.gallery-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-grid>div.grid-third {
    width: 30%;
}

.gallery-grid>div.grid-two-third {
    width: 70%;
}

.gallery-grid>div.grid-half {
    width: 50%;
}

.gallery-grid .gallery-photo figure {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 33em;
    margin: 0;
    padding: 0;
}


.gallery-photo {
    position: unset;
    height: unset;
    max-height: unset;
    overflow: unset;
}

/* gallery Css Ends */

@media screen and (max-width: 991px) {
    .hero-unit-moon-exploration {
        flex-direction: column;
    }

    .hero-unit-moon-exploration .space_sec,
    .hero-unit-moon-exploration .luna_sec {
        width: 100%;
        height: 50%;
    }

    .gallery-grid .gallery-photo figure {
        height: 25em;
    }
}


@media screen and (max-width: 767px) {
    .gallery-grid>div.grid-third {
        width: 100%;
    }

    .gallery-grid>div.grid-two-third {
        width: 100%;
    }

    .gallery-grid>div.grid-half {
        width: 100%;
    }

    .gallery-grid>div {
        margin-bottom: 1rem;
    }
}



@media screen and (max-width: 575px) {
    .gallery-grid .gallery-photo figure {
        height: 20em;
    }

    .timeline-item {
        padding: 5%;
    }

    .hero-unit-moon-exploration {
        height: auto;
    }

    .hero-unit-moon-exploration .space_sec,
    .hero-unit-moon-exploration .luna_sec {
        height: 300px;
    }
}